@model IEnumerable<AdminLTE.MVC.Models.StagiaireStage>
@using X.PagedList;
@using X.PagedList.Mvc.Core
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<p>
	<a asp-action="Create">Create New</a>
</p>

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="customerDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
					<th>Grade</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Spécialite</th>
					<th>Date Début</th>
					<th>Date Fin</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
	<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/js/customerDatatable.js"></script>
}

<div class="content-wrapper" style="min-height: 1302.4px;">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Index</h1>
				</div>
				<div class="col-sm-6">
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">DataTable with default features</h3>
						</div>
						<div class="card-body">
							<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
											<thead>
												<tr>
													<th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">
														@* @Html.DisplayNameFor(model => model.Stagiaire.Nom) *@
														Grade
													</th>
													<th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">
														@* @Html.DisplayNameFor(model => model.Stagiaire.Nom) *@
														Prénom
													</th>
													<th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">
														@* @Html.DisplayNameFor(model => model.Stagiaire.Nom) *@
														Nom
													</th>
													<th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">
														@* @Html.DisplayNameFor(model => model.Specialite.Name) *@
														Spécialite
													</th>
													<th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">
														@Html.DisplayNameFor(model => model.DateDebut)
													</th>
													<th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">
														@Html.DisplayNameFor(model => model.DateFin)
													</th>
												
													<th></th>
												</tr>
											</thead>
											<tbody>
												@foreach (var item in ViewBag.OnePageOfItems)
												{
													<tr class="odd">
														<td class="dtr-control sorting_1" tabindex="0">
															@item.Stagiaire.Grade
														</td>
														<td class="dtr-control sorting_1" tabindex="0">
															@item.Stagiaire.Prenom
														</td>
														<td class="dtr-control sorting_1" tabindex="0">
															@item.Stagiaire.Nom
														</td>
														<td class="dtr-control sorting_1" tabindex="0">
															@item.Specialite.Name
														</td>
														<td class="dtr-control sorting_1" tabindex="0">
															@item.DateDebut
														</td>
														<td class="dtr-control sorting_1" tabindex="0">
															@item.DateFin
														</td>
														
														<td class="dtr-control sorting_1" tabindex="0">
															<a asp-action="Edit" asp-route-id="@item.Stagiaire.Id" class="btn btn-success">Edit</a> |
															<a asp-action="Details" asp-route-id="@item.Stagiaire.Id" class="btn btn-success">Details</a> |
															<a asp-action="Delete" asp-route-id="@item.Stagiaire.Id" class="btn btn-success">Delete</a>
														</td>
													</tr>
												}
											</tbody>
										</table>

										<br />

										<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
										@Html.PagedListPager((IPagedList)ViewBag.OnePageOfItems,
																						page => Url.Action("Index", new { page }), new PagedListRenderOptions
										{
											PageClasses = new string[] { "page-link" },
											UlElementClasses = new string[] { "pagination" },
											LiElementClasses = new string[] { "page-item" },
											DisplayItemSliceAndTotal = true,
										})
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
@* <script>
	$(function () {
		$(".table").DataTable({"responsive": true, "lengthChange": false, "autoWidth": false,"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
	});
</script> *@






@* 
@model IEnumerable<AdminLTE.MVC.Models.StagiaireStage>
@using X.PagedList;
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specilaite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stagiaire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.OnePageOfItems)
        {
        <tr>
            <td>
                @item.DateDebut)
            </td>
            <td>
                @item.DateFin)
            </td>
            <td>
                @item.Specilaite.Name)
            </td>
            <td>
                @item.Stagiaire.Id)
            </td>
            <td>
               @*  @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                  @*   <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">Delete</a> *@
@*             </td>
        </tr>
}
    </tbody>
</table> *@


