@model AdminLTE.MVC.Models.Stagiaire

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Stagiaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialite.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
